{
  username = "your-username";
  homeDirectory = "/home/your-username";  # On macOS use /Users/your-username
  stateVersion = "25.05";  # Don't change unless you know what you're doing

  git = {
    userName = "Your Name";
    userEmail = "your.email@example.com";
    
    signing = {
      enable = false;
      key = "";
    };
  };
}
